body, html {
    overflow-x: hidden;
}
* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav 
{
  width: 100%;
  max-width: fit-content;
  padding: 24px 40px;
}
.nav
{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.nav .logo
{
  z-index: 1;
  margin-left: 10px;
  color:white;
}
.navbar 
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-family: sans-serif;
  margin-left:-10px;
  padding: 10px 25px;
}
nav ul 
{
  display: flex;
  justify-content:right;
  align-items: right;
  gap: 1 rem;
  list-style: none;
}
.link 
{
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 20px;
    font-weight: 600;
    color: #fefefe;
    position: relative;
    transition: color 0.25s;
}
.link:hover 
{
  color: rgb(255, 106, 238);
}

.link::after 
{
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}
.link:hover::after 

{
  scale: 1 1;
}
.background-container 
{
  top:0;
  margin-top:-10px;
  width:100%;
  height: 1200px;
  background-image: url('OIG3.jpeg');
  background-size:cover;
  background-position: center;
  overflow:hidden;
}
.hero h1 
{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top:620px;
  z-index: 2;
  font-size: 8em;
  font-family: sans-serif;
  animation: fadeIn 4s ease-in-out;
  background: linear-gradient(140deg, #ffffff, #ff4dcc);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.hero h1 
{
    transition: transform 0.5s ease-in-out;
}
@keyframes fadeIn 
{
  0% 
  {
      opacity: 0;
  }
  100% 
  {
      opacity: 2;
  }
}
.skyscraper 
{
    position: absolute; /* Use absolute positioning */
    top: 0vh; /* Set the top position to 50% of the viewport height */
    left: 40vw; /* Set the left position to 50% of the viewport width */
    transform: translate(0, 0);
    margin-top:100px;
    width: 850px;
    height: 1100px;
    transition: transform 0.75s ease-in-out; 
}
  
  .skyscraper2 
{
    position: absolute; /* Use absolute positioning */
    top: 0vh; /* Set the top position to 50% of the viewport height */
    left: 0vw; /* Set the left position to 50% of the viewport width */
    transform: translate(0, 0);
    margin-top:100px;
    width: 850px;
    height: 1100px;
    transition: transform 0.75s ease-in-out;
}
.page
{
  background:url(blue&purple.jpeg);
}
.container 
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 800px;
}

.card {
  margin-top:50px;
  background: rgba(248, 249, 249, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  border: 1px solid black;
  border: transparent;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.card .photo {
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card:hover .photo {
  transform: scale(1.2);
}

.card .content {
  padding: 20px;
  text-align: center;
}

.card .content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .content p 
{
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card .content a 
{
  text-decoration: none;
  color: rgb(64, 64, 202);
  transition: color 0.3s ease-in-out;
}

.card .content a:hover {
  color: #23527c;
}
.card::before 
{
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 254, 0.2);
  filter: blur(10px);
  z-index: -1;
}
